body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}
.justificado {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}


ul {
    text-align: left; 
    display: inline-block; 
    margin-left: 20px; 
}
.subtitulo {
    font-size: 20px; 
    font-weight: bold; 
    display: block; 
    margin-top: 10px; 
}

.subsubtitulo {
    font-size: 18px; 
    font-weight: bold; 
    display: block;
    margin-top: 8px;
}

